@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HashPass</h1>    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Get Started!</h2>
        <p>
            HashPass is intended to be a great way for users to safely store passwords and other sensitive information using complex encryption algorithms.
            With that being said, the developer of this application read about encryption for just a few hours before implementing this feature.  I 100% would not
            recommend anyone using this application to store any information of value.
        </p>  
        <p> Sign up for free now with link below!</p>     
        
                
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard">Register &raquo;</a></p>

    </div>
    <div class="col-md-6">
        <h2>AES Encryption</h2>
        <p>The Advanced Encryption Standard (AES), also known by its original name Rijndael is a specification for the encryption of electronic data 
            established by the U.S. National Institute of Standards and Technology (NIST) in 2001.
            AES is a subset of the Rijndael cipher[6] developed by two Belgian cryptographers, Vincent Rijmen and Joan Daemen, who submitted a proposal 
            to NIST during the AES selection process.[8] Rijndael is a family of ciphers with different key and block sizes....</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard">Continue &raquo;</a></p>
    </div>  
</div>